mysqlclient
sqlalchemy
uvicorn
fastapi
pymysql
FastAPI-SQLAlchemy==0.2.1
SQLAlchemy-Utils==0.39.0
pytz
pyjwt==2.4.0
shortuuid==1.0.11
passlib==1.7.4
fastapi-pagination==0.11.2
Faker==16.6.0
websockets==10.4
PyKakao==0.0.4
seqeval==1.2.2
openpyxl==3.1.0
konlpy==0.6.0
tensorflow==2.10
tensorflow-gpu==2.10
mangum
